<%- include('head') %>
<%- include('navbar') %>
<div class="container">
<form action="/add" method="post">
    <input type="number" name="num1" id="" class="from-control">
    <input type="number" name="num2" id="" class="from-control">
    <button class="btn btn-primary">Add</button>
</form>
<% if(locals.n1) { %>
<%= n1 %> + <%= n2 %> = <%= r %>
<% } %>
</div>
<%- include('footer') %>