<%- include('head') %>
<%- include('navbar') %>

<div class="container">
    <% if(locals.product) { %>

        <div class="info">
            <h2>ข้อมูลสินค้า</h2> <br>
            ชื่อสินค้า : <%= product %> <br/>
            ราคา :  <%=price%> <br/>
            ปริมาณ : <%= quantity %> <br/>
            รายละเอียด : <%= desc %> <br/>
            วันที่เพิ่ม : <%= date_add %> <br/>
            <br>
            <a href="/product"> <button class="btn btn-danger">ย้อนกลับ</button></a>

        </div>
    <% } else { %>
        <form action="/product" method="POST">
            <input type="text" name="product" id="" class="form-control" placeholder="ชื่อผลิตภัณฑ์">
            <input type="number" name="price" id="" class="form-control" placeholder="ราคา" step="any">
            <input type="number" name="quantity" id="" class="form-control" placeholder="จำนวน" step="any">
            <textarea name="desc" class="form-control" placeholder="รายละเอียด" id=""></textarea>
            <input type="date" class="form-control" placeholder="วันที่เพิ่มสินค้า" name="date_add" id="">
            <button class="btn btn-info">เพิ่มข้อมูล</button>
        </form>
        <br>
    <% } %>

</div>
<%- include('footer') %>